In [3]:
print ('Hello')

Hello

In [10]:
a= "hello world"

In [235]:
int

int

In [236]:
str

str

In [240]:
a.count('l')

0

In [243]:
a.find('h')

AttributeError: 'list' object has no attribute 'find'

In [17]:
len(a) #length of character a

11

In [20]:
a[0:3]

'hel'

In [230]:
a[0:3].find('your character')
a[4:5].find('')

AttributeError: 'list' object has no attribute 'find'

In [28]:
b="2.3"

In [42]:
c="False"

In [30]:
b

'2.3'

In [36]:
a=[1,2,3,4,5,6, "hello", True]

In [34]:
type(a)

str

In [37]:
type(a[6])

str

In [38]:
type(a[0])

int

In [39]:
a[0:4]

[1, 2, 3, 4]

In [40]:
a[0:]

[1, 2, 3, 4, 5, 6, 'hello', True]

In [45]:
a[0:4:2] #jump by 2

[1, 3]

In [46]:
a[::2]

[1, 3, 5, 'hello']

In [47]:
a[::-1] #inverse jump

[True, 'hello', 6, 5, 4, 3, 2, 1]

In [48]:
d= "jumptry"

In [49]:
d[::-1]

'yrtpmuj'

In [62]:
d[2::-1]

'muj'

In [70]:
a.index(True)

0

In [72]:
a

[1, 2, 3, 4, 5, 6, 'hello', True]

In [73]:
a.index(True)

0

In [131]:
s="abcd"

In [132]:
e="xywz"

In [133]:
user='c'

In [134]:
user_index=s.find(user)

In [135]:
if user_index!=-1:
    print(e[user_index])
else:
    print("not found")

w

In [136]:
e[-2]

'w'

In [137]:
user_index

2

In [138]:
e[user_index]

'w'

In [139]:
user_list='ba'

In [140]:
for user in user_list:
    user_index= s.find(user)
    if user_index != -1:
        print(e[user_index])
    else:
        print("not found")

y
x

In [143]:
"hello" + "world"

'helloworld'

In [ ]:
s="hello"

In [ ]:
a="abcdedf"

In [233]:
def my_sum2(s1, s2):
    print("first string" + s1)
    print("second string" + s2)
    print(s1 + s2)

In [ ]:
def my_sum1()

In [144]:
my_sum("hello","world")

NameError: name 'my_sum' is not defined

In [152]:
d= {'a': 1, 'b' : 2, 'c': 3}

In [153]:
type(d)

dict

In [154]:
for key1 in d:
    print(d[key1])

1
2
3

In [155]:
import pandas

In [156]:
pandas.DataFrame({'a':[1,2], 'b': [3,4]})

   a  b
0  1  3
1  2  4

In [157]:
df=pandas.DataFrame({'a':[1,2], 'b': [3,4]})

In [158]:
type(df)

pandas.core.frame.DataFrame

In [159]:
len(df)

2

In [160]:
df

   a  b
0  1  3
1  2  4

In [161]:
import pandas as pd

In [164]:
df= pd.read_csv("physician_rx.csv")

In [165]:
len(df)

100

In [166]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [167]:
df.tail()

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

In [168]:
df.shape

(100, 6)

In [169]:
df.columns

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [170]:
df

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0   AP1912920        0.0           50            510        152           0
1   AP1350415     2370.0         1320             60       1416        2676
2   AP0129322        0.0           85              0          0         144
3   AP0462902       30.0          570              0        128        3900
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
6   AP0126982        0.0          135              0          0           0
7         NaN      150.0          315            270        184          36
8   AP1807651        0.0          650              0          0         300
9   AP0728371        0.0            0              0          0           0
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
12  AP1883103        0.0          225            240          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
15  AP2443797        0.0           25              0         72          48
16  AP0036951      330.0          525              0          0           0
17  AP3200230        0.0          135              0          0           0
18  AP0139724        0.0           85            360          0         480
19  AP2166075        0.0           70              0          0          36
20        NaN        0.0           20              0          0          48
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
24  AP2214740        0.0           90              0          0           0
25  AP0857188        0.0          130              0          0         588
26        NaN      150.0          220            510         32        1128
27  AP1874350        0.0            0             75          0           0
28  AP3209293        0.0           55            465          0           0
29  AP0089696      930.0          250           3435          0         396
..        ...        ...          ...            ...        ...         ...
70  AP0683877       50.0           90            240          0           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
73  AP1343639       10.0           45              0         24         528
74  AP1869077     1830.0          140              0        488          72
75  AP2196115        0.0            0              0          0         384
76  AP1230067      110.0           70              0          0           0
77  AP2014650        0.0           60              0          0          60
78  AP2281620        0.0          255              0          0          36
79  AP1336198      150.0          615              0          0           0
80  AP0849708        0.0           90           3495          0           0
81  AP2113896       20.0           30              0          0           0
82  AP1834639      270.0         1240             60         40          60
83  AP0455565        0.0          105            810         24        1896
84  AP0849030        0.0           80            525          0          24
85  AP0478796      630.0          240            150          0          96
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
88  AP0812453        NaN           45              0          0         264
89  AP0433841      120.0           65              0          0           0
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

[100 rows x 6 columns]

In [171]:
df.dtypes

PHYSICIAN         object
CroMax_RX        float64
GlycoMax_RX        int64
AllergyMax_RX      int64
FevMax_RX          int64
ColdMax_RX         int64
dtype: object

In [174]:
df[["PHYSICIAN", "AllergyMax_RX"]]

    PHYSICIAN  AllergyMax_RX
0   AP1912920            510
1   AP1350415             60
2   AP0129322              0
3   AP0462902              0
4   AP3185026           1080
5   AP3674571              0
6   AP0126982              0
7         NaN            270
8   AP1807651              0
9   AP0728371              0
10  AP1934892              0
11  AP1595288             45
12  AP1883103            240
13  AP1365782            255
14        NaN              0
15  AP2443797              0
16  AP0036951              0
17  AP3200230              0
18  AP0139724            360
19  AP2166075              0
20        NaN              0
21  AP1332969              0
22  AP2130355              0
23  AP0714887            615
24  AP2214740              0
25  AP0857188              0
26        NaN            510
27  AP1874350             75
28  AP3209293            465
29  AP0089696           3435
..        ...            ...
70  AP0683877            240
71  AP0118925              0
72  AP2152296              0
73  AP1343639              0
74  AP1869077              0
75  AP2196115              0
76  AP1230067              0
77  AP2014650              0
78  AP2281620              0
79  AP1336198              0
80  AP0849708           3495
81  AP2113896              0
82  AP1834639             60
83  AP0455565            810
84  AP0849030            525
85  AP0478796            150
86  AP3589376              0
87  AP2459335              0
88  AP0812453              0
89  AP0433841              0
90  AP1947403              0
91  AP0189854            720
92  AP3883979              0
93  AP0390218            180
94  AP2286280              0
95  AP1957774              0
96  AP1273998              0
97  AP1228990              0
98  AP1881803              0
99  AP4772804              0

[100 rows x 2 columns]

In [175]:
df[["PHYSICIAN", "AllergyMax_RX"]][0:4]

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [176]:
df.loc[0:4,["PHYSICIAN", "AllergyMax_RX"]] #loocation

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0
4  AP3185026           1080

In [182]:
df.iloc[0:4, 0:3]

   PHYSICIAN  CroMax_RX  GlycoMax_RX
0  AP1912920        0.0           50
1  AP1350415     2370.0         1320
2  AP0129322        0.0           85
3  AP0462902       30.0          570

In [185]:
df["CroMax_RX"] > 50

0     False
1      True
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10     True
11     True
12    False
13     True
14     True
15    False
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24    False
25    False
26     True
27    False
28    False
29     True
      ...
70    False
71     True
72    False
73    False
74     True
75    False
76     True
77    False
78    False
79     True
80    False
81    False
82     True
83    False
84    False
85     True
86    False
87     True
88    False
89     True
90    False
91    False
92    False
93    False
94    False
95     True
96     True
97    False
98    False
99    False
Name: CroMax_RX, Length: 100, dtype: bool

In [187]:
df[df["CroMax_RX"] > 50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
5   AP3674571       70.0           40              0         64           0
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0

In [192]:
my_df = df[df["CroMax_RX"]>50]

In [193]:
my_df = df[df["GlycoMax_RX"]>50]

In [195]:
df[(df["CroMax_RX"]>50) & (df["GlycoMax_RX"]>50)]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [196]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [197]:
df.iloc[0:1, 0:1]

   PHYSICIAN
0  AP1912920

In [201]:
df.iloc[0,0]

'AP1912920'

In [198]:
df.iat[0,0] #to access a single cell always use iat

'AP1912920'

In [203]:
df.at[0,"PHYSICIAN"]

'AP1912920'

In [202]:
df.isnull().sum() #to identify missing values

PHYSICIAN        4
CroMax_RX        4
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [205]:
df[df["CroMax_RX"].isnull()] #find missing values

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
33  AP0464297        NaN          405              0          0          36
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
88  AP0812453        NaN           45              0          0         264

In [206]:
df["CroMax_RX"] = df["CroMax_RX"].fillna(0)

In [207]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [208]:
df=df.dropna() #drop na values

In [209]:
df.isnull().sum()

PHYSICIAN        0
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [214]:
df.head()

         PHY  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [216]:
df = df.rename(columns={'PHY': 'physician'}) #changing a column name

In [217]:
df.head()

   physician  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [218]:
"hello world".replace("l","z")

'hezzo worzd'

In [219]:
df.columns= df.columns.str.replace("_",".")

In [220]:
df.head()

   physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [221]:
df["physician"] = df["physician"].str.replace("AP","AB")

In [222]:
df.head()

   physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AB1912920        0.0           50            510        152           0
1  AB1350415     2370.0         1320             60       1416        2676
2  AB0129322        0.0           85              0          0         144
3  AB0462902       30.0          570              0        128        3900
4  AB3185026        0.0           40           1080          0           0

In [223]:
df["bucket"] = "B1"

In [224]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [ ]:
df["CroMax_RX"] = df["CroMax_RX"].fillna(0)